////////////////////////////////
/// color////////////////

$color-black: black;
$color-white: white;

$color-grey-light: #d8d8d8; //brugt til section headers
$color-grey-medium: #2e2e2e; //brugt til navabr
$color-grey-dark: #181818; //brugt til baggrund/nero/navbar

$color-blue-light-1: #77a7eb; //brug til sign-in knap på forside
$color-blue-light-2: #5d92db; //sign-in knap hover
$color-blue-dark: #151e2b;

//overvej ret disse - ikke super pæne
$color-green-light-1: #4cb14c; //brugt til watch knapper
$color-green-light-2: #7dd17d; //watch knapper hover
$color-green-light-3: #82da82; //watch knapper active

$footer-color: #353434;

////////////////////////
/// fonts///////////

$font-primary: "EB Garamond", serif;
$font-secondary: "Abril Fatface", sans-serif;

////////////////////////////
/// responsive breakpoints/////

$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 56.25em; //900px
$bp-small: 50em; //800px
$bp-small-2: 43.75em; //700px
$bp-smallest: 37.5em; //600px

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // now 1rem = 10px
  box-sizing: border-box;
}

body {
  background-color: $color-grey-dark;
}

.content {
  width: 120rem;
  margin: auto;

  @media only screen and(max-width: $bp-largest) {
    max-width: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }
}
