/* SPIELBERG */

.spielberg {
    margin-bottom: 10rem !important;
    
}

.scorsese {
    padding-bottom: 10rem;
}

///////////////////////////////
/// features country//////////

.country {
    margin-bottom: 10rem !important;
}

.wave {
    margin-bottom: 10rem;
}