.footer {
    width: 100%;
    height: 15rem;
    background-color: rgb(53, 52, 52);
    text-align: center;

    &-text{
        font-size: 1.5rem;
        color: white;
        line-height: 2rem;
        padding-top: 2rem;
    }
}
