.hero {
  width: 100%;
  height: 70vh;
  margin-top: 1rem;
  font-size: 10rem;
  background-image: linear-gradient(90deg, $color-grey-dark, transparent),
    url(../img/hero_v1.webp);
  background-size: cover;
  position: relative;

  @media only screen and(max-width: $bp-large) {
    height: 50vh;
  }

  @media only screen and(max-width: $bp-small-2) {
    height: 40vh;
  }

  @media only screen and(max-width: $bp-small-3) {
    height: 30vh;
  }

  &-text {
    position: absolute;
    text-align: left;
    top: 20%;
    left: 5%;



    @media only screen and(max-width: $bp-medium-2) {
      top: 10%;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }


}

////STATS//////

.stats {
  height: 6rem;
  background-image: linear-gradient(
    to bottom right,
    rgb(150, 183, 221),
    rgb(90, 91, 182)
  );

  margin-top: 5rem;

  display: grid;
  grid-template-columns: 1fr min-content min-content 1fr min-content min-content 1fr;
  white-space: nowrap;
  font-size: 2rem;
  align-content: center;
  grid-column-gap: 1rem;

  @media only screen and(max-width: $bp-small-3) {
    height: 14rem;
  }

  @media only screen and(max-width: $bp-small-2) {
    grid-template-rows: 2rem 2rem;
    grid-template-columns: min-content min-content;
    grid-row-gap: 1rem;
    grid-column-gap: 10rem;
    text-align: center;
    justify-content: center;
  }

  @media only screen and(max-width: $bp-small-3) {
    grid-template-rows: repeat(4, 2rem);
    grid-template-columns: min-content;
    // grid-row-gap: 1rem;
  }
}

.achievement-points {
  grid-column-start: 2;
  color: black;

  @media only screen and(max-width: $bp-small-2) {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  @media only screen and(max-width: $bp-small-3) {
    grid-row-start: 1;
    grid-column-start: 1;
  }
}

.point {
  grid-column-start: 3;
  color: black;

  @media only screen and(max-width: $bp-small-2) {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  @media only screen and(max-width: $bp-small-3) {
    grid-row-start: 2;
    grid-column-start: 1;
  }
}

.film-set-head {
  grid-column-start: 5;
  color: black;

  @media only screen and(max-width: $bp-small-2) {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  @media only screen and(max-width: $bp-small-3) {
    grid-row-start: 3;
    grid-column-start: 1;
  }
}

.film-set {
  grid-column-start: 6;
  color: black;

  @media only screen and(max-width: $bp-small-2) {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  @media only screen and(max-width: $bp-small-3) {
    grid-row-start: 4;
    grid-column-start: 1;
  }
}

.features {
  width: 100%;
  height: 40rem;

  margin-top: 8rem;
  margin-bottom: 8rem;

  background-image: linear-gradient(rgba(#25498b, 0.7), rgba(#25498b, 0.7)),
    url("../img/features_banner.jpg");
  background-size: cover;

  @media only screen and(max-width: $bp-medium-2) {
    text-align: center;
  }

  @media only screen and(max-width: $bp-small-2) {
    height: 30rem;
  }

  @media only screen and(max-width: $bp-small-3) {
    height: 25rem;
  }
}
